{% use "../../object.twig" %}

{% block blog %}
	<section class="block block--blogs">
		<div class="c-blog">
			<div class="c-blog__type">
				{{ foo.0.type }}
			</div>
			<div class="c__title c-blog__title">
				{{ foo.0.title }}
			</div>
			<div class="c__image c-blog__image">
				{{ foo.0.image }}
			</div>
			<div class="c-blog__body">
				{{ foo.0.body }}
			</div>
			<div class="c-blog__link">
				<a href="{{ foo.0.link }}">{{ foo.0.link }}</a>
			</div>
			<div class="c-blog__author">
				{{ foo.0.author }}
			</div>
		</div>
		<div class="c-blog">
			<div class="c-blog__type">
				{{ foo.1.type }}
			</div>
			<div class="c__title c-blog__title">
				{{ foo.1.title }}
			</div>
			<div class="c__image c-blog__image">
				{{ foo.1.image }}
			</div>
			<div class="c-blog__body">
				{{ foo.1.body }}
			</div>
			<div class="c-blog__link">
				<a href="{{ foo.1.link }}">{{ foo.1.link }}</a>
			</div>
			<div class="c-blog__author">
				{{ foo.1.author }}
			</div>
		</div>
		<div class="c-blog">
			<div class="c-blog__type">
				{{ foo.2.type }}
			</div>
			<div class="c__title c-blog__title">
				{{ foo.2.title }}
			</div>
			<div class="c__image c-blog__image">
				{{ foo.2.image }}
			</div>
			<div class="c-blog__body">
				{{ foo.2.body }}
			</div>
			<div class="c-blog__link">
				<a href="{{ foo.2.link }}">{{ foo.2.link }}</a>
			</div>
			<div class="c-blog__author">
				{{ foo.2.author }}
			</div>
		</div>
		<div class="c-blog">
			<div class="c-blog__type">
				{{ foo.3.type }}
			</div>
			<div class="c__title c-blog__title">
				{{ foo.3.title }}
			</div>
			<div class="c__image c-blog__image">
				{{ foo.3.image }}
			</div>
			<div class="c-blog__body">
				{{ foo.3.body }}
			</div>
			<div class="c-blog__link">
				<a href="{{ foo.3.link }}">{{ foo.3.link }}</a>
			</div>
			<div class="c-blog__author">
				{{ foo.3.author }}
			</div>
		</div>
		<div class="c-blog">
			<div class="c-blog__type">
				{{ foo.4.type }}
			</div>
			<div class="c__title c-blog__title">
				{{ foo.4.title }}
			</div>
			<div class="c__image c-blog__image">
				{{ foo.4.image }}
			</div>
			<div class="c-blog__body">
				{{ foo.4.body }}
			</div>
			<div class="c-blog__link">
				<a href="{{ foo.4.link }}">{{ foo.4.link }}</a>
			</div>
			<div class="c-blog__author">
				{{ foo.4.author }}
			</div>
		</div>
		<div class="c-blog">
			<div class="c-blog__type">
				{{ foo.5.type }}
			</div>
			<div class="c__title c-blog__title">
				{{ foo.5.title }}
			</div>
			<div class="c__image c-blog__image">
				{{ foo.5.image }}
			</div>
			<div class="c-blog__body">
				{{ foo.5.body }}
			</div>
			<div class="c-blog__link">
				<a href="{{ foo.5.link }}">{{ foo.5.link }}</a>
			</div>
			<div class="c-blog__author">
				{{ foo.5.author }}
			</div>
		</div>
	</section>
{% endblock %}